.navBar{
    background-color: rgba(16, 16, 16, 0);
    position:fixed;
    color:white;
    width: 100vw;
    height:120px;
    top:-120px;
    transition: 0.5s;
}

.navBarItens{
    width: 90%;
    margin:auto;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navBarContentLinks{
    width: 30%;
    display:flex;

    justify-content: space-around;
    align-items: center;
}

.links{
    list-style: none;

}

.links a{
    color:white;
    text-decoration: none;
    font-size:1.2em;
    font-family:"Open Sans", sans-serif;

    padding:10px;
    border-radius: 3px;

    transition: 0.2s;
}

.links a:hover{
    background-color: #6EACDA;

    text-shadow: -1px 1px 0px black;
    font-weight: bold;
}

img{
    width: 125px;
    height: 125px;
}

.show{
    top:0px;
    transition:0.5s;
}